@{
    ViewData["Title"] = "Home";
}

<div>
    <h3>Welcome to</h3>
    <h1>The Joel Hilton Film Collection</h1>
    <br />

    <img src="~/img/JoelHiltonHeadshot.jpg" height="350" />
    <br /><br />

    <a asp-controller="Home" asp-action="AddMovie">Add a Film |</a>
    <a asp-controller="Home" asp-action="Podcasts">My Podcasts</a>
</div>

