@{
    ViewData["Title"] = "My Podcasts";
}

<h1>My Podcasts</h1>
<br />

<img src="~/img/wright-brand-bacon-VVtVBLKkrik-unsplash.jpg" height="300" />
<br /><br />

<h3>BACONSALE: A Hickory-Smoked Pop Culture Podcast</h3>

<a href="https://baconsale.com/">Click Here to Listen</a>
